@keyframes openPanel {
    0% {
        transform: scale(0) translate(-50%, -50%);
    }
    100% {
        transform: scale(1) translate(-50%, -50%);
    }
}

#image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1150;
    width: 780px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    backdrop-filter: blur(10px);
    animation: openPanel 0.5s forwards;
}

#image-container > .header {
    background: linear-gradient(to bottom, #959a9e, rgba(255, 255, 255, 0));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0;
}

#image-container > img {
    width: auto;
    height: auto;
    margin: 0 auto;
}

#image-container > .header > img {
    margin-top: 5px;
    margin-right: 6px;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    float: right;
}

#image-container > .header {
    height: 25px;
    padding: 5px 10px;
}
