.main-content {
    display: flex;
    margin-top: 80px;
  }
  
 .manage_box{
    width: 990px;
    height: 600px;
	
 }

  .right_up {
    flex: 1;
    width: 990px;
    height: 60px;
    background-color:#ffffff;
    padding-top: 15px;
    box-sizing: border-box;
    text-decoration: none;
	border-radius: 20px;
	padding-left: 30px;
	user-select: none;
  }

  .type{
    width: 50px;
    height: 60px;
    margin-left: 10px;
    text-decoration: none;
    color: #666666
  }

  .type_choose_1,.type_choose_2{
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 30px;
    line-height: 30px;
    border:solid 1px;
    border-radius: 25px;
    margin-left: 35px;
    text-decoration: none;
    color: #666666;
    border-color: #666666;
  }

  .right_down {
    width: 990px;
    height: 485px;
    background-color: #ffffff;
    margin-right: 245px; 
    margin-top: 5px;
    box-sizing: border-box;
	border-radius: 20px;
	
  }
  
  .page_turning{
    display: flex;
    align-items: center; /* 在交叉轴上居中 */
    justify-content: center; /* 在主轴上居中 */
    width: 990px;
    height: 45px;
    background-color: #ffffff;
    margin-top: 2px;
	border-radius: 20px;
  }

  .arrow {
    margin: 10px; /* 可以调整间距 */
}

.num {
    text-align: center;
    color: #ffffff;
    font-size: 10px;
    font-weight: 100;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #ff6702;
    font-size: 16px;
    font-weight: bold;
}
