.my-friends{
	width: 400px;
	height: 380px;
	background-color: #fff;
	border-radius: 20px;
	margin-left: 20px;
	margin-top: 20px;
	
}
.my-friends.fixed{
	position: fixed;
	top:50px;
}

.friend-title{
	margin: 30px;
	font-size: 22px;
}
.friends-content{
	display: flex;
	margin-top: 20px;
}
.friends-content img{
	width: 60px;
	height: 60px;
	border-radius: 100%;
	margin-left: 30px;
}
.friends-content .friend-name{
	margin-left: 35px;
	font-size: 30px;
	padding-top: 12px;
}

