.right-down-content{
	width: 400px;
	height: 380px;
	background-color: #fff;
	border-radius: 20px;
	margin-left: 20px;
	margin-top: 20px;
	
}
.right-down-content.fixed{
	position: fixed;
	top:50px;
}

