 .main-content {
    display: flex;
    margin-top: 80px;
    display: flex; justify-content: center;
  }

  .passage_box {
    width: 990px;
    height: 800px;
    background-color: #ffffff;
    /* margin-top: 50px; */
    box-sizing: border-box;
	border-radius: 20px;
  }
/* 问题输入 */
.question-title{
	font-size: 25px;
	margin-left: 20px;
	padding-top: 40px;
	user-select: none;
}
 .text-input{
     margin-bottom: 20px;
	 padding-left: 30px;

 }

 label {
    display: block; /* 使标签独占一行 */
    margin-bottom: 5px; /* 为标签下方添加一些间距 */
 }

textarea {
	margin-top: 10px;
    height: 200px; /* 设置文本域的默认高度 */
    width: 800px;
	resize: none;
	border-radius: 20px;
	line-height: 30px;
	font-size: 25px;
	margin: 10px;
	padding: 10px;
 }

 /* 按键 */
.bottom-button {
    display: flex;
    width: 990px;
    height: 60px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    border-radius: 5px;
    padding-top: 15px;
    bottom: 0;
    justify-content: flex-end; /* 将按钮放在右边 */
    user-select: none;
}


.button_1 ,.button_2,.button_3{
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-left: 15px;
    color: #000;
}

.button_3{
    background-color: #ff8902;
}

.button_1:hover, .button_2:hover {
    background-color: #e0e0e0; /* 设置悬停时的背景颜色 */
}

.button_3:hover{
    background-color: #ff5602;
}
.image-upload{
	padding-left: 45px;
}
/* 图片上传 */
#upload-progress {
    display: none;
    width: 100%;
    margin-top: 10px;
}

#image-preview-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.image-preview {
    width: calc(33.33% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.image-preview img {
    width: 100%;
    height: auto;
    display: block;
}

.image-preview.moving {
    visibility: hidden;
}

.list-item {
    display: inline-block;
    width: 157px;
    height: 157px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px dashed grey;
    cursor: pointer;
}

.list-item.moving {
    visibility: hidden;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1200;
    width: 200px;
    background-color: #f8f8f8;
    border-radius: 20px;
}

.btn-container > hr {
    width: 75%;
}

.btn-container > h1 {
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    font-size: calc(0.525rem + 1.5vw);
}
